body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.4em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}

$heading: h1 h2 h3 h4 h5 h6;
@each $head in $heading {
	#{$head} {
		font-weight: normal;
		line-height: 1.4em;	
		font-family: 'Cormorant Garamond', serif;
	}
}

*:focus, *:active{
	outline: none !important;
}

a{
	@include prefixed(transition, all 0.3s linear);
	color: $orange;	

}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

//LOOPING
$color-list-box: #53BBB4 #5CB860 #F9845B #838CC7 #39ADD1 #3079AB #E59A13;
@for $i from 1 through length($color-list-box) {
	.color-box-#{$i} {
		background-color: nth($color-list-box, $i);
	}
}

.pythia select {
	&.form-control {
		  background: url('../img/arrow-select.png') calc(100% - 6px) 50% no-repeat;
		  background-color: white;
		  background-size: 9px auto;
		  -moz-appearance: none;
		  -webkit-appearance: none;
		  appearance: none;
	}
}


.pythia {

	.py-form {
		padding-left: 0;
		padding-right: 0;
	}

	label {
		display: inline-block;
		margin-bottom: .5rem;
		font-weight: 500;
	}

	.py-form__control {
		display: block;
		width: 100%;
		padding: .5rem .75rem;
		margin-bottom: 1rem;
		font-size: 1rem;
		color: #727272;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #e3e5ef;
		border-radius: 0.25rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
}

/* Prevent zoom-in input IOS */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.pythia select,
	.pythia textarea,
	.pythia input {
    font-size: 16px;
  }
}

/*Buttons & Links */
.pythia {
	.pybtn {
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		box-shadow: 1.5px 2.598px 20px 0px rgba(0, 0, 0, 0.039);
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&:hover {
			text-decoration: none;
		}
	}

	.pybtn--orange {
		color: white;
		background-color: #e27233;

		&:hover {
			background-color: #b45825;
		}
		
	}

	.pybtn--minWidth {
		min-width: 200px;
		@media screen and (min-width: 48em) {
			min-width: 250px;
		}
	}


    .pylink-orange {
		color: $orange;
		
		&:hover {
			color: $green;
			text-decoration: none;
		}
    }

}
  
