@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
/**
 * Variables and Bootstrap overrides
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
/*@font-face {
    font-family: 'CartoGothicStd-Book';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
body {
  background: #fff;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #333333;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

h2 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

h3 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

h4 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

h5 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

h6 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: 'Cormorant Garamond', serif; }

*:focus, *:active {
  outline: none !important; }

a {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #e27233; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }

.color-box-1 {
  background-color: #53BBB4; }

.color-box-2 {
  background-color: #5CB860; }

.color-box-3 {
  background-color: #F9845B; }

.color-box-4 {
  background-color: #838CC7; }

.color-box-5 {
  background-color: #39ADD1; }

.color-box-6 {
  background-color: #3079AB; }

.color-box-7 {
  background-color: #E59A13; }

.pythia select.form-control {
  background: url("../img/arrow-select.png") calc(100% - 6px) 50% no-repeat;
  background-color: white;
  background-size: 9px auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.pythia .py-form {
  padding-left: 0;
  padding-right: 0; }

.pythia label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500; }

.pythia .py-form__control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #727272;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e3e5ef;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

/* Prevent zoom-in input IOS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .pythia select,
  .pythia textarea,
  .pythia input {
    font-size: 16px; } }

/*Buttons & Links */
.pythia .pybtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  box-shadow: 1.5px 2.598px 20px 0px rgba(0, 0, 0, 0.039);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .pythia .pybtn:hover {
    text-decoration: none; }

.pythia .pybtn--orange {
  color: white;
  background-color: #e27233; }
  .pythia .pybtn--orange:hover {
    background-color: #b45825; }

.pythia .pybtn--minWidth {
  min-width: 200px; }
  @media screen and (min-width: 48em) {
    .pythia .pybtn--minWidth {
      min-width: 250px; } }

.pythia .pylink-orange {
  color: #e27233; }
  .pythia .pylink-orange:hover {
    color: #19d69b;
    text-decoration: none; }

body {
  font-family: 'Rubik', sans-serif; }

strong {
  font-weight: 500; }

.pythia .py-wrapper {
  max-width: 992px;
  margin: 0 auto; }

.pythia .py-header {
  text-align: center;
  min-height: 130px;
  padding: 20px 15px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  background: #19d69b;
  background: -moz-linear-gradient(45deg, #19d69b 0%, #19d69b 30%, #a3e72b 54%, #a3e72b 100%);
  background: -webkit-linear-gradient(45deg, #19d69b 0%, #19d69b 30%, #a3e72b 54%, #a3e72b 100%);
  background: linear-gradient(45deg, #19d69b 0%, #19d69b 30%, #a3e72b 54%, #a3e72b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d69b', endColorstr='#a3e72b',GradientType=1 ); }

.pythia .no-padding {
  padding: 0; }

.pythia .py-logo {
  max-width: 270px; }

.pythia .py-indicator {
  max-width: 910px;
  margin: 0 auto 50px; }

.pythia .py-indicator ul {
  list-style: none;
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.pythia .py-indicator ul:after {
  content: '';
  border: 1px dashed #8f9aac;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 18%;
  width: 88%;
  z-index: -1; }

.pythia .py-indicator ul li {
  list-style: none;
  padding: 0;
  display: inline-block;
  text-align: center; }

.pythia .py-indicator ul li:last-child:after {
  display: none; }

.pythia .py-indicator__circle {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 19px;
  border-radius: 9999px;
  background-color: #f5f8fe;
  border: 2px dashed #8f9aac; }

.pythia .py-indicator__circle::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 9999px;
  background-color: #8f9aac;
  width: 7px;
  height: 7px; }

.pythia .py-indicator__circle:after {
  content: '';
  clear: both;
  display: table; }

.pythia .py-indicator__act {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #8f9aac; }
  .pythia .py-indicator__act:hover {
    text-decoration: none; }
  @media screen and (min-width: 48em) {
    .pythia .py-indicator__act {
      font-size: 16px; } }

.pythia .py-indicator ul li.py-active .py-indicator__circle::before {
  background-color: #19d69b; }

.pythia .py-indicator ul li.py-active .py-indicator__act {
  color: #19d69b; }

.pythia .py-indicator ul li.py-passed .py-indicator__circle::before {
  background-color: #19d69b; }

.box-white {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 37px 33px;
  border-radius: 5px; }

.pythia h1,
.pythia h2,
.pythia h3,
.pythia h4,
.pythia h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem; }

.pythia h1, .h1 {
  font-size: 2.5rem; }

.pythia h2, .pythia .h2 {
  font-size: 2rem; }

.pythia h3, .pythia .h3 {
  font-size: 1.75rem; }

.pythia h4, .pythia .h4 {
  font-size: 1.5rem; }

.pythia h5, .pythia .h5 {
  font-size: 1.25rem; }

.pythia h6, .pythia .h6 {
  font-size: 1rem; }

.pythia .pytitle-green {
  color: #19d69b;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 1.4rem; }

.pythia .pylist-icons ul,
.pythia .pylist-icons li {
  list-style: none;
  padding: 0;
  margin: 0; }

.pythia .pylist-icons li {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem; }

.pythia .pylist-icons__img {
  float: left;
  width: 40px;
  margin: 0;
  margin-right: 15px; }

.pythia .py-content {
  margin-bottom: 37px; }

.pythia .py-alert {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #f1f1f1; }
  .pythia .py-alert > span {
    line-height: 1.3em; }
  @media screen and (min-width: 62em) {
    .pythia .py-alert {
      max-width: 470px; } }

.pythia .py-alert--error {
  color: #ff3333;
  border-color: #ff3333;
  background-color: #fef0f0; }

.pythia .py-alert__icon {
  font-size: 18px;
  display: inline-block;
  margin-right: 8px; }

.pythia .py-keyz {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  background-color: #bbbbbb;
  color: white;
  word-wrap: break-word; }

.pythia .py-keyz__icon {
  width: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaaaaa;
  text-align: center;
  flex: 0 0 80px;
  max-width: 80px; }
  .pythia .py-keyz__icon img {
    width: 45px; }

.pythia .py-keyz__main {
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  display: block;
  max-width: 92%;
  overflow: hidden; }
  .pythia .py-keyz__main span {
    display: block; }

/* Steps js Custom*/
.js-pyStepz__title {
  display: none; }

.py-stepz .steps .number {
  display: none; }

.py-stepz .steps .current-info {
  display: none; }

.py-stepz .steps ul li a:hover {
  text-decoration: none; }

.py-stepz .steps ul li.current .py-indicator__circle::before {
  background-color: #19d69b; }

.py-stepz .steps ul li.current .py-indicator__act {
  color: #19d69b; }

.py-stepz .steps ul li.done .py-indicator__circle::before {
  background-color: #19d69b; }

.py-stepz .steps a:hover {
  text-decoration: none; }

.pythia ul.py-step-action {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0; }
  @media screen and (min-width: 62em) {
    .pythia ul.py-step-action {
      margin: 0 -15px 40px; } }
  .pythia ul.py-step-action li {
    list-style: none;
    text-align: right;
    margin-bottom: 15px; }
    .pythia ul.py-step-action li:first-child {
      text-align: left; }
      .pythia ul.py-step-action li:first-child > a {
        background: transparent;
        color: #e27233;
        box-shadow: none;
        padding: 0;
        min-width: auto;
        font-weight: 500; }
        .pythia ul.py-step-action li:first-child > a:hover {
          text-decoration: underline; }
        .pythia ul.py-step-action li:first-child > a:before {
          content: '←';
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px; }
  @media screen and (max-width: 62em) {
    .pythia ul.py-step-action li {
      text-align: center !important; } }

/*Footer */
.pythia .py-foo {
  text-align: center;
  overflow: hidden;
  padding-bottom: 15px; }
  @media screen and (min-width: 48em) {
    .pythia .py-foo {
      text-align: left; } }

@media screen and (min-width: 48em) {
  .pythia .py-foo__acts {
    text-align: right; } }

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2 / 3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px !important; } }

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40 / 71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px !important; } }

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375 / 667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px !important; } }

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9 / 16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px !important; } }

/*Error Alert*/
.py-form__error {
  display: block !important;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400 !important;
  color: #ff3333;
  margin-top: -12px; }

.py-form__control.error {
  border-color: #ff3333; }

button
button:focus {
  outline: none;
  box-shadow: none !important; }

/*Preloader */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8) url("../img/loading.gif") center center no-repeat;
  background-size: 110px auto; }
